@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");
:root {
  --clr1: rgb(11, 11, 12);
  --clr2: rgb(236, 68, 90);
  --clr3: #ffd700;
  --clr4: #000;
  --clr5: lightgray;
  --clr6: yellow;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: #ecc9cf;
  font-size: 56%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*----this is for nav bar----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  border: none;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--clr1);
}

section {
  padding: 7rem 9%;
  margin-top: 7rem;
}

/*-----------------------------*/
section h3 {
  font-size: 3rem;
  color: white;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.2rem;
}

section p {
  color: var(--clr3);
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 2.5rem;
  justify-content: flex-start;
}

section h4 {
  margin: 0 0 1rem 30rem;
  width: 40%;
  font-size: 4rem;
  color: var(--clr4);
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  letter-spacing: 0.2rem;
  background: var(--clr1);
}
/*----------------------------------------------*/
.btn {
  margin-top: 2rem;
  padding: 1.3rem 4rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: ffd700;
  background-color: black;
  border: none;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: progress;
  outline: none;
}
.btn:hover {
  transform: translateY(-1rem);
  transition: all 0.5s ease;
}
.title {
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.title span {
  color: rgb(236, 68, 90);
  font-size: 4rem;
}

.title p {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}

/*------------------header--------------------------------*/
.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgb(11, 11, 12);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head .logo {
  font-size: 2.5rem;
  color: #ffd700;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
span {
  color: lightgray;
  font-size: 2.5rem;
}

.head .navbar {
  font-size: 1.8rem;
  justify-content: space-between;
  font-weight: 500;
}

.head .navbar a {
  padding-left: 1.5rem;
  color: #ffd700;
}

#menu-bar {
  display: none;
  color: #ffd700;
}
/*----------------------Home-------------*/
.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 180vh;
}
/*-------------------services--------------*/
.service {
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 80vhs;
  height: 80vh;
}

.services-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.services-col {
  height: 22rem;
  color: #e91e63;
  background: url("/static/images/card.jpg");
  background-color: rgb(232, 232, 13);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  flex: 1 1 25rem;
  padding: 1.2rem;
  margin: 1.5rem;
}
.services-col i {
  padding: 2.2rem;
  border: none;
  background: aliceblue;
  border-radius: 5rem;
  font-size: 2.8rem;
}

.services-col h2 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #ffd700;
}

.services-col p {
  font-size: 1.2rem;
  color: #e91e63;
}

@media (max-width: 767px) {
  .service {
    margin-bottom: 30rem;
  }
}

/*----------------------vendor section------------*/
.vendor {
  background: url("/static/images/back1.jpg");
  background-position: center;
  background-color: #ffd700;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 80vhs;
  height: 140vh;
  opacity: 0.8;
}
.vendor-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.vendor .vendor-row {
  max-width: 1300px;
  background: rgb(245, 236, 245);
  height: 35rem;
  flex: 1 1 30rem;
  padding: 1.2rem;
  margin: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgb(236, 68, 90);
}

.vendor-row:hover {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotate(5deg);
}

.vendor-row .rate {
  width: 6rem;
  padding: 0.5rem 0.1rem;
  color: #000;
  border: none;
  background: var(--clr6);
  font-size: 1.6rem;
  font-weight: 400;
}

.vendor .vendor-row img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.vendor-row h2 {
  font-size: 2rem;
  font-weight: 600;
}

.vendor-row p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr4);
}

.vendor-row h3 {
  font-size: 2rem;
  color: var(clr2);
  background: var(--clr4);
}

/*----------------------------venue section-----------------*/

.venue .venue-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.venue .venue-list .venue-box {
  flex: 1 1 50rem;
  margin: 1rem;
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
  height: 20rem;
}

.venue .venue-list .venue-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.venue .venue-list .venue-box .venue-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background: rgba(46, 39, 40, 0.5);
  transform: scale(1.3);
  opacity: 0;
  transition: 1s ease;
}

.venue .venue-list .venue-box:hover .venue-info {
  transform: scale(1);
  opacity: 1;
}

.venue .venue-list .venue-box .venue-info h2 {
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.venue .venue-list .venue-box .venue-info p {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.venue .venue-list .venue-box .venue-info .btn {
  width: 12rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.6rem;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background: rgb(236, 68, 90);
  border: none;
  border-radius: 0.5rem;
}

/*--------------------------e-invitation section-----------*/

.invite .invitation-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.invite .invitation-row .invitation-box {
  flex: 1 1 25rem;
  margin: 1rem;
  position: relative;
  border: 0.2rem dotted var(--clr2);
  padding: 2rem;
  border-radius: 0.6rem;
  overflow: hidden;
  height: 30rem;
}

.invite .invitation-row .invitation-box:hover {
  transition: 0.5s ease;
  transform: translateY(-2rem);
}

.invite .invitation-row .invitation-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*---------------------------footer section-------------*/

footer {
  padding: 5rem 5%;
}

#contact {
  background-color: var(--clr2);
}

.container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.f-container h2 {
  font-size: 2.5rem;
  color: var(--clr3);
  padding: 1rem 0;
}

.f-container a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--clr3);
  padding: 1rem 0;
  display: block;
}

.f-container a:hover {
  transform: translateX(0.5rem);
  transition: 0.5s ease;
}

.f-container i {
  padding-right: 0.5rem;
  color: var(--clr1);
}

.f-container p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--clr1);
}

.f-container input {
  width: 90%;
  padding: 1rem;
  background: #eee;
  border: 0.2rem solid var(--clr1);
}

.f-container .btn {
  background: var(--clr1);
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.2rem;
}

.f-container .social i {
  margin-top: 1rem;
  font-size: 2rem;
  background: var(--clr3);
  border-radius: 1rem;
  padding: 1rem;
}

.f-container .social i:hover {
  transform: rotate(360deg);
  transition: 1s ease;
}

.footer-content {
  padding: 2rem 0;
  text-align: center;
}

.footer-content h1 {
  font-size: 3rem;
  color: #aaa;
}

.copyright {
  padding: 2rem 0;
  text-align: center;
  background: var(--clr1);
  color: #fff;
  font-size: 1.5rem;
}

.copyright p {
  font-size: 1.2rem;
  color: #aaa;
}

/*----------------------media Query-------------------*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .head {
    padding: 3rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .head {
    padding: 3rem;
  }
  #menu-bar {
    display: inline-block;
    font-size: 2rem;
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--clr2);
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  }
  .head .navbar.active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .navbar a {
    display: block;
    margin: 2rem;
  }
  .inner-content {
    margin-top: 2rem;
  }
  .service,
  .vendor-list,
  .venue-list,
  .invitation-row,
  .container {
    display: inline-block;
  }
  .in-box {
    margin-bottom: 2rem;
  }
  .blog-content {
    padding: 1rem;
  }
  section h4 {
    font-size: 3rem;
    margin-left: 10rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .home-content {
    display: inline-block;
  }
  .home .inner-content {
    text-align: center;
  }
  .home .inner-content-img img {
    width: 35rem;
    align-items: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .head {
    padding: 3rem;
  }
}

.tec {
  width: 100%;
  height: 200px;
  color: white;
}

.Section_top {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: flex;
  text-align: center;
  justify-content: center;
  animation: change 10s infinite ease-in-out;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.content h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 15px;
}
.content h1 span {
  color: #111;
}
.content a {
  background: #fc4cdb;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 0px;
}
.content a:hover {
  background: #e492e3;
  color: #fff;
}
@keyframes change {
  0% {
    background-image: url(img1.png);
  }
  20% {
    background-image: url(img2.png);
  }
  40% {
    background-image: url(image.png);
  }
  60% {
    background-image: url(img4.png);
  }
  80% {
    background-image: url(img5.png);
  }
  100% {
    background-image: url(img1.jpg);
  }
}
